body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ce5d41;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  width: 480px;
  margin: 20px auto;
  border: 3px solid #333;
}

.square {
  width: 60px;
  height: 60px;
  position: relative;
}

.light {
  background-color: #ff3c00;
}

.dark {
  background-color: #000000;
}

.piece {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

/* This is the color of the checker */
.red {
  background-color: rgb(0, 255, 0);
}

/* This is the color of the checker */
.black {
  background-color: rgb(152, 19, 179);
}

/* Everytime a user clicks on their circle of choice the circle will be outlined in yellow */
.selected {
  outline: 3px solid yellow;
}




 

 