body{
      font-family: Arial, sans-serif; 
      padding: 20px; 
      max-width: 400px; 
      margin: auto; 
       background:
    linear-gradient(to right, #9d58d6, #5a9c2d); /* this adds a fading color between two colors */
      color: aliceblue;
}

h1{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}