 body { 

      font-family: Arial, sans-serif; 
      padding: 20px; 
      max-width: 400px; 
      margin: auto; 
       background:
    linear-gradient(to right, #0056b3, #fc466b); /* this adds a fading affect between two colors */
      color: aliceblue;

    } 

    label { 

      display: block; 
      margin-top: 10px; 

    } 

    input[type="text"] { 

      width: 100%; 
      padding: 8px; 
    } 

    #output { 

      margin-top: 20px; 
      padding: 10px; 
      background-color: #f0f0f0; 
      border: 1px solid #ccc; 
      color: black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    } 